/* *{
   margin : 0;
   padding : 0;

} */

h1{
    font-size: xx-large;
    color:#b6244f;
    padding-top: 5%;
    padding-bottom :3%;
    font-style: bold;

    
}
body{
    background-color : #fbb7c0;
    text-align : center;
}

.container{
    height : 70vh;
    display : flex;
    justify-content: center;
    align-items : center;
}

.game{
    height : 60vmin;
    width :  60vmin;
    display : flex;
    flex-wrap : wrap;
    gap : 1.5vmin;
    justify-content: center;
    align-items : center;
}

.box {
    height : 18vmin;
    width : 19vmin;
    border-radius : 1rem;
    border : none ;
    box-shadow : 0 0 1rem rgba(0,0,0,0.3);
    font-size : 8vmin; 
    background-color :#b6244f;
    color : white;
}

#reset-btn{
    border : none;
    border-radius : 1rem;
    width : 20vmin;
    height: 5vmin;
    background-color : #b6244f;
    color: white;
}

#new-btn {
    border : none;
    border-radius : 1rem;
    width : 20vmin;
    height: 5vmin;
    background-color : #b6244f;
    color: white;
    
}

#msg{
    color :#b6244f;
    font-size :5vmin;
}

.msg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    height : 50rem;  
}

.hide{
    display: none;
}